[Unit]
Description=LIVA Virtual Assistant

[Service]
User=__USERNAME__
Environment="XDG_RUNTIME_DIR=/run/user/__ID__"
Environment="DISPLAY=:1"
WorkingDirectory=/usr/lib/liva/
ExecStart=/usr/lib/liva/usr/local/bin/python3 .
# optional items below
Restart=always
RestartSec=3
StandardOutput=append:/tmp/liva.log
StandardError=append:/tmp/liva.log

[Install]
WantedBy=multi-user.target